<!DOCTYPE html>
<html lang="en">
<head>
    {{>headLinks}}
    <link href="./css/404.css" rel="stylesheet">
    <title>404:Error</title>
</head>
<body>
    {{>header}}
    <section id = "error">
       <div> <img src="./assets/images/404-pages.jpg"></div>
        <div class = "data h1" >{{errorData}}</div>
    </section>
    {{>footer}}
</body>
</html>