<footer>
        <div id = "footer">
        <div>
            <p class="p"> www.renubakshi &copy; 2023</p>
            <p class="p"> all right reserved.</p>
        </div>

        <div id="social-links">
            <a href="http://www.linkedin.com/in/renu-bakshi" target="_blank"><i class="fa fa-linkedin"
                    aria-hidden="true"></i></a>
            <a href="https://github.com/Renubakshi" target="_blank"><i
                    class="fa fa-github" aria-hidden="true"></i></a>
            <a href="https://mail.google.com/mail/u/2/#inbox?compose=new" target="_blank"><i class="fa fa-envelope"
                    aria-hidden="true"></i></a>
            <a href="https://www.instagram.com/coding_planet_2.0/?igsh=OGR4c2hjbWFzNm1o" target="_blank"><i class="fa fa-instagram"
                    aria-hidden="true"></i></a>
        </div>
        </div>
    </footer>