/* BASIC PROPERTIES */
* {
    box-sizing: border-box;
    margin: 0rem;
    padding: 0rem;
    /* font-family: 'Bree Serif', serif; */
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

html {
    font-size: 62.5%;
}

/* CSS VARIABLES */
:root {
    --primary-color: #3e123e;
    ;
    --secondary-color: yellow;
    --dark: black;
    --light: white;
    --h1-size: 3.6rem;
    --h2-size: 2.9rem;
    --h3-size: 1.9rem;
    --p-size: 1.76rem;
}

/* STYLE THE TOP NAVIGATION BAR AS CONTAINER */
#nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0rem;
    left: 0rem;
    right: 0rem;
    z-index: 9999;
}

#nav::before {
    content: "";
    background-color: var(--primary-color);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0rem;
    left: 0rem;
    opacity: 0.84;
    z-index: -1;
}

#nav .logo {
    margin: .5rem 2rem;
}

.logo img {
    height: 6rem;
    clip-path: circle();
}

#nav .menus a {
    color: var(--light);
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0rem 0rem 1.1rem var(--light);
    padding: .2rem 1.9rem;
}

#nav .menus a:hover {
    background-color: var(--light);
    color: var(--primary-color);
    cursor: pointer;
    border-radius: 1rem;
}

#ham {
    display: none;
}

/* STYLE THE HOME */
#home {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1.7rem;
    position: relative;
    top: 0rem;
    color: var(--light);
}

#home:before {
    content: "";
    background: var(--primary-color) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0rem;
}

.bg-renu {
    margin: 7rem 4rem 0rem 20rem;
}

.bg-renu img {
    width: 21rem;
    height: 35rem;
    /* margin-top: 10rem;
    margin-left: 28rem;
    height: 30rem; */
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    /* text-align: left; */
}

#home .article {
    margin-top: 12rem;
    margin-right: 13rem;
    text-transform: capitalize;
    text-align: center;
    padding: 3rem;
}

.article p {
    margin: 1rem;
}

/* STYLE THE MY SERVICES SECTION AS GRID */
.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem;
}

.services-items {
    border: .2rem solid var(--primary-color);
    border-radius: .2rem;
    box-shadow: .1rem .1rem .8rem var(--dark);
    padding: 1rem;
}

.services-items img {
    display: block;
    height: 7rem;
    margin: auto;
}

.services-items .p {
    word-wrap: break-word;
    text-align: center;
}

/* PROJECT SECTION */
.carousel {
    background: var(--light);
}

.carousel img {
    cursor: pointer;
    display: block;
    height: 200px;
    width: 60%;
    padding: 2rem 4rem;
}

@media screen and (min-width: 768px) {
    .carousel img {
        height: 400px;
    }
}

/* STYLE THE SKILLS SECTION AS A GRID */
.skills-container {
    background-color: var(--primary-color);
    display: grid;

}

.skills-item .p {
    border: .2rem solid var(--dark);
    background-color: var(--secondary-color);
    border-radius: 5rem;
    padding: .1rem 2rem;
    margin: .7rem 0rem;
}

.skills-item .p .span2 {
    float: right;
}

/* ANIMATIONS  */
.skills-item .bar1 {
    animation: slide1 2s ease-in 1 normal forwards;
}

@keyframes slide1 {
    0% {
        width: 10%;
    }

    100% {
        width: 90%;
    }
}

.skills-item .bar2 {
    animation: slide2 2s ease-in 1 normal forwards;
}

@keyframes slide2 {
    0% {
        width: 10%;
    }

    100% {
        width: 80%;
    }
}

.skills-item .bar3 {
    animation: slide3 2s ease-in 1 normal forwards;
}

@keyframes slide3 {
    0% {
        width: 13%;
    }

    100% {
        width: 70%;
    }
}

.skills-item .bar4 {
    animation: slide4 2s ease-in 1 normal forwards;
}

@keyframes slide4 {
    0% {
        width: 14%;
    }

    100% {
        width: 50%;
    }
}

.skills-item .bar5 {
    animation: slide5 2s ease-in 1 normal forwards;
}

@keyframes slide5 {
    0% {
        width: 8%;
    }

    100% {
        width: 70%;
    }
}
.skills-item .bar6 {
    animation: slide6 2s ease-in 1 normal forwards;
}

@keyframes slide6 {
    0% {
        width: 8%;
    }

    100% {
        width: 50%;
    }
}
/* STYLE THE ABOUT SECTION*/
#about {
    margin: 1.5rem 10rem;
    text-align: center;
}

#about img {
    margin: auto;
    display: block;
    height: 19rem;
    width: 13rem;
    clip-path: circle();
}

#about h3 {
    padding: .7rem 0rem;
}

#about #social-links i {
    color: black !important;
}
ul{
    line-height: 2;
    text-align: justify;
}
/* STYLE THE CONTACT FORM */

.contact-form {
    display: grid;
    grid-template-columns: 1fr 7fr;
    gap: 2rem;
    width: 50%;
    margin: auto;
    padding: 3rem;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: .7rem;
    resize: none;
}

.contact-form button {
    grid-column-start: 1;
    grid-column-end: 3;
}

/* FOOTER */
#footer {
    background-color: var(--primary-color);
    padding: 1.5rem 0rem;
    text-align: center;
    color: var(--light);
}

#social-links i {
    font-size: 2.5rem;
    margin: 2rem;
    color: var(--light);
}

/* UTILITY CLASSES */
.h1 {
    font-size: var(--h1-size);
    text-transform: capitalize;
    font-weight: bold;
    padding: 0rem;
    margin: 0rem;
}

.h2 {
    font-size: var(--h2-size);
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    padding: 1rem;
    margin: 2.5rem 1rem 1rem 1rem;
}

.h3 {
    font-size: var(--h3-size);
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    padding: 1rem 0rem;
    margin: 0rem;
}

.p {
    font-size: var(--p-size);
    padding: 0rem;
    margin: 0rem;
}

.btn {
    font-size: var(--p-size);
    text-transform: capitalize;
    background-color: var(--secondary-color);
    font-weight: bold;
    padding: 0.3rem 1.5rem;
    margin: .7rem;
    color: var(--primary-color);
    border-radius: 0.6rem;
    border: 0.1rem solid var(--primary-color);
    cursor: pointer;
}

a {

    text-decoration: none;
    font-size: var(--h3-size);
}


/* MEDIA QUERIES */

/* DESKTOP AND LAPTOP */
@media screen and (max-width: 1498px) {
    html {
        font-size: 55.5%;
    }
}

/* TABLET */
@media screen and (max-width: 1153px) {
    html {
        font-size: 45.5%;
    }
}

@media screen and (max-width: 945px) {
    .bg-renu {
        margin: 14rem 1rem 0rem 13rem;
    }

    .services-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 4rem;
    }

    /* MENU HAMBURGER */
    .menus {
        position: absolute;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--primary-color);
        top: 7rem;
        width: 100%;
        height: 100vh;
        z-index: 9999;
    }

    .menus a {
        margin: 4rem;
    }

    #ham {
        display: inline;
        margin: 2rem 4rem;
    }

    #ham i {
        font-size: 3rem;
        color: var(--light);
    }

    #nav .logo {
        right: 112rem;
    }

    .carousel img {
        height: 200px;
        width: 66%;
        padding: 2rem 4rem;
    }

}



/* LANDSCAPE MOBILE */
@media screen and (max-width: 700px) {

    /* BASIC PROPERTY */
    html {
        font-size: 42.5%;
    }

    .bg-renu {
        margin: 17rem 1rem 0rem 10rem;
    }

    #home .article {
        margin-top: 16rem;
        margin-right: 0rem
    }

    .contact-form {
        width: 63%
    }

    /* .skills-item .bar4 {
        animation: slide4 2s ease-in 1 normal forwards;
    }

    @keyframes slide4 {
        0% {
            width: 14%;
        }

        100% {
            width: 40%;
        }
    }

    .skills-item .bar5 {
        animation: slide5 2s ease-in 1 normal forwards;
    }

    @keyframes slide5 {
        0% {
            width: 10%;
        }

        100% {
            width: 67%;
        } */

    }

    /* MOBILES */
    @media screen and (max-width: 500px) {

        /* BASIC PROPERTY */
        html {
            font-size: 35.5%;
        }

        .bg-renu {
            margin: 15rem 1rem 0rem 0rem;
        }

        #home .article {
            margin-right: 0rem;
            padding: 0rem 1rem 0rem 0rem;
        }
    }

    /* SMALL SIZE */
    @media screen and (max-width:343px) {
        #home {
            grid-template-columns: 1fr;
        }

        .bg-renu {
            margin: 7rem 0rem 0rem 0rem;
        }

        .bg-renu img {
            margin: auto;
            display: block;
        }

        #home .article {
            margin-top: 0rem;
            margin-right: 0rem;
            margin-bottom: 2rem;
        }

        .contact-form {
            width: 100%
        }

        .carousel img {
            height: 130px;
        }
    }
