/* SOME BASIC PROPERTIES */
*{
    box-sizing:border-box;
    /* text-transform:capitalize;
    font-family: Georgia; */
    font-family: 'Baloo Bhai',georgia;
}

/* CSS RESETS */
body{
    margin:0px;
}

/* CSS VARIABLES */
:root{
    --primary-color:/*rgb(247, 184, 205);*/#e5bad8;
    --secondary-color:aqua; 
    --white:white;
    --black:black;
    --h1-size:30px;
    --h3-size:1.17em;
    --p-size:17px;
}

/*STYLE THE TOP NAVIGATION AS FLEX CONTAINER */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:var(--primary-color);
    position:sticky;
    top:0px;
}
/*NAV BAR: LOGO*/
.logo .img{
    height:95px;
    width:170px;
}
/* NAV BAR:MENUS */
nav .menus{
    flex-direction: column;
}
nav .menus a{
    text-decoration: none;
    color:var(--black);
    padding: 7px 15px;
    text-transform:uppercase;
    text-shadow: -1px 2px 5px var(--white);
}
nav .menus a:hover{
    background-color:var(--white);
    color:blue;
    border-radius:20px;
    cursor:pointer;
}

/* MAIN CONTAINER AS A GRID */
#main-container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    grid-auto-rows: minmax(200px,auto);
    margin: 20px;
}
/* MAIN CONTAINER: ITEMS */
#main-container .items{
    background-color: #e3dbdb7a;
    border: 1px solid #80808070;
    padding: 0px 10px;
    box-shadow: 7px 4px 9px gray;
}
.item1 img{
    display: block;
    margin: auto;
}
/* .item2{
   grid-row-start: 1;
   grid-row-end: 3;
   grid-column-start: 2;
   grid-column-end: 3;
} */

/* ITEM2 BOX: SIDE AS CONTAINER */
.item2 .side {
    display: flex;
    text-align: start;
    background-color: #d9e4e5;
    margin: 20px;
}
.side .side-img img {
    height: 150px;
    margin-right: 10px;
}

/* STYLING THE FOOTER*/ 
footer{
    display: flex;
    background-color:var(--primary-color);
    
}
footer .foot-text{
    margin-left: 34px;
    margin-right: 111px;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}


/* UTILITY CLASSES */
.btn{
    background-color: var(--secondary-color);
    border-width: 1.5px;
    box-shadow: 1px 0px 4px var(--black);
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.h1-primary{
    font-size: var(--h1-size);
}
.h3-primary{
    font-size:var(--h3-size);
    font-weight: bold;
    margin: 10px;
}
.p-primary{
    font-size: var(--p-size);
    word-spacing: 5px;
    margin: 0px 5px;
}
a{
    text-decoration: none;
    color: var(--black);
}
.center{
    text-align: center;
}
@media screen and (max-width:1238px){

/*TOP NAVIGATION  */
nav{
    flex-direction:column;
}

#main-container{
    grid-template-columns: 1fr;
}

}